/*
// (C) Copyright 2014 by Autodesk, Inc.
//
// Permission to use, copy, modify, and distribute this software in
// object code form for any purpose and without fee is hereby granted, 
// provided that the above copyright notice appears in all copies and 
// that both that copyright notice and the limited warranty and
// restricted rights notice below appear in all supporting 
// documentation.
//
// AUTODESK PROVIDES THIS PROGRAM "AS IS" AND WITH ALL FAULTS. 
// AUTODESK SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTY OF
// MERCHANTABILITY OR FITNESS FOR A PARTICULAR USE.  AUTODESK, INC. 
// DOES NOT WARRANT THAT THE OPERATION OF THE PROGRAM WILL BE
// UNINTERRUPTED OR ERROR FREE.

//- Written by Cyrille Fauvel, Autodesk Developer Network (ADN)
//- http://www.autodesk.com/joinadn
//- October 20th, 2014
*/

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: -1px;
}
.cmd-btn {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px;
    border: 3px solid #555;
    border-radius: 5px;
    color: #555;
    background: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    width: 300px;
}
.cmd-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #555;
}
.layer1 {
    z-index: 2;
    margin: 3px;
    position: absolute;
    display: inline-block;
    float: none;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/go.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.layer2 {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.spacer {
    height: 10%;
}
.outer {
    position: relative;
    margin: 0;
    width: 100%;
    height:100%;
    display: table;
}